{% extends 'dashboard.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
        <div class="d-flex flex-column">
            <div class="row">
                <div class="col-md-9">
                    <h2>{{ category.name }}</h2>
                </div>
                <div class="col-md-3">
                    <form method="GET" action="{% url 'job_issue' pk=category.pk %}" class="input-group mb-3">
                        <input type="text" name="q" class="form-control" placeholder="Search Job Issue" aria-label="Search Job Issue" aria-describedby="search-btn">
                        <button class="btn btn-outline-secondary" type="submit" id="search-btn">Search</button>
                    </form>
                </div>
            </div>
        </div>        
      {% if selected_job_issue %}
        <div class="row">
          <div class="col-lg-12">
            <h2>{{ selected_job_issue.title }}</h2>
            <hr>
            <p>
                <a href="{% url 'edit_job_issue' pk=category.pk job_pk=selected_job_issue.pk %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'delete_job_issue' pk=category.pk job_pk=selected_job_issue.pk %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this job issue?')">Delete</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <p>{{ selected_job_issue.description }}</p>
            {% if selected_job_issue.note_set.all %}
              <h4>Attachments</h4>
              {% for note in selected_job_issue.note_set.all %}
                <a href="{{ note.attachment.url }}" target="_blank">{{ note.attachment.name }}</a><br>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      {% else %}
        <div class="row">
          <div class="col-lg-12">
            {% comment %} <h2>{{ category.name }}</h2> {% endcomment %}
            <hr>
            <p><a href="{% url 'create_job_issue' pk=category.pk %}" class="btn btn-primary">Add Job Issue</a></p>
          </div>
        </div>
        <div class="row">
            {% for job_issue in job_issues %}
                <div class="col-lg-4">
                    <div class="card mb-3">
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex justify-content-between mt-2">
                                <div>
                                    <h5 class="card-title">{{ job_issue.title }}</h5>
                                </div>
                                <div>
                                <span style="font-size: 60%" class="">Date Created : {{ job_issue.date_created|date:"d/m/Y h:i A" }}</span><br>
                                <span style="font-size: 60%" class="">Date Updated : {{ job_issue.date_updated|date:"d/m/Y h:i A" }}</span>
                                </div>
                            </div>                          
                            <p class="card-text overflow-hidden text-truncate" data-toggle="modal" data-target="#jobIssueModal{{ job_issue.id }}" style="cursor: pointer;">{{ job_issue.description }}</p>
                            <div class="flex-grow-1">
                                {% with job_issue.note_set.all as notes %}
                                  {% if notes|length == 1 %}
                                    <a href="{{ notes.0.attachment.url }}" target="_blank">{{ notes.0.attachment.name }}</a>
                                  {% else %}
                                    {% if notes|length != 0 %}
                                        <a href="" data-toggle="modal" data-target="#jobIssueModal{{ job_issue.id }}">{{ notes|length }} Attachments</a>
                                    {% else %}
                                        No Attachments
                                    {% endif %}
                                  {% endif %}
                                {% endwith %}
                            </div>                                                         
                            <div class="d-flex justify-content-between mt-2">
                                <div>
                                    <a href="{% url 'edit_job_issue' pk=category.pk job_pk=job_issue.pk %}" class="btn btn-warning">Edit</a>
                                    {% comment %} <a href="{% url 'delete_job_issue' pk=category.pk job_pk=job_issue.pk %}" class="btn btn-danger">Delete</a> {% endcomment %}
                                    <a href="{% url 'delete_job_issue' pk=category.pk job_pk=job_issue.pk %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this job issue?')">Delete</a>
                                </div>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#jobIssueModal{{ job_issue.id }}">View Details</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="jobIssueModal{{ job_issue.id }}" tabindex="-1" role="dialog" aria-labelledby="jobIssueModal{{ job_issue.id }}Title" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="jobIssueModal{{ job_issue.id }}Title">{{ job_issue.title }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>{{ job_issue.description }}</p>
                                    <div>
                                        {% for note in job_issue.note_set.all %}
                                            <a href="{{ note.attachment.url }}" target="_blank">{{ note.attachment.name }}</a><br>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}